<div class="test-page container-fluid mt-3 px-4">
	<h1 class="text-capitalize">{{ name }} test</h1>
	<div class="info">
		<p>You have selected the <span class="text-capitalize">{{ name }}</span> test.<br>In order to pass this test, Please carefully read the instructions below before you start the test.</p>
		<div class="ist mt-3 px-4 py-5 border rounded row justify-content-center">
			<h4 class="fw-semibold col-12">Test instructions</h4>
			<p class="col-12">
				The test duration is about 13 minutes, and comprises of 18 multiple choice questions. The pass mark is 60%. You can change the answer of any question at any time so long the test isn't submitted.<br><br>

				Please note that once you begin the test, it can't be stopped or canceled until it's submitted, or you force exit out of the Quiz app.<br><br>

				Make sure you have power and good connectivity on your device before you begin, so as to avoid errors. Also, you can choose to be prepared with a paper, pen and calculator for Math-related tests. You may need it.<br><br>

				After you submit the test, your score will be calculated in percentages, and you can go review which questions you passed or failed in the Quiz. Good Luck!
			</p>
			<div class="col-12 col-md-8">
				<button class="btn bg-col fw-bold text-light shadow-lg btn-lg d-block w-100">Start Quiz</button>
			</div>	
		</div>
	</div>
</div>

<div class="container-fluid mt-4">
	<p class="sm-txt">
		<span class="fw-bold">Note: </span>There might be wrong answers or grammatical errors due to the very limited knowledge of I, the developer of this site, which I apologize in advance for. If there are you can easily reach out to me on <a href="#">Twitter</a>
	</p>
</div>

